<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Credentials">
        <setting label="username" type="text" id="username" default=""/>
        <setting label="password" type="text" id="password" default="" option="hidden"/>
    </category>

    <category label="Streaming Options">
        <setting type="select" label="Choose streaming format" default="MPEG Dash" id="streamingFormat" values="MPEG Dash|Smoothstream" />
    </category>
</settings>

